<div>
    <hr>
    <h1>Directivas en Angular</h1>
    <h2>Número de deportes: {{ sports.length }}</h2>
    <div *ngIf="sports.length < 5; then condiciontrue; else condicionelse"></div>

    <p>El primer deporte es {{ sports[0] }}</p>
    <ul>
        <li *ngFor="let deporte of sports; let i = index">{{ i+1 }}: {{ deporte }}</li>
    </ul>

    <ul>
        <li *ngFor="let num of numeros" [class.par]="num % 2 == 0" [class.impar]="num % 2 != 0">{{ num }}
        </li>
    </ul>

    <ul>
        <li *ngFor="let num of numeros" [ngClass]="{
        par: num % 2 == 0,
        impar: num % 2 != 0
    }">{{ num }}</li>
    </ul>

    <ng-template #condiciontrue>
        <p style="color: red">Tienes menos de 5 deportes</p>
    </ng-template>
    <ng-template #condicionelse>
        <p style="color:green">Tienes 5 o más deportes</p>
    </ng-template>
</div>